.select {
    font-size: large;
    display: block;
    border-radius: 5px;
    border: 1px solid #2200ff;
    background-color: rgba(13, 231, 220, 0.96);
    width: 285px;
    padding: 4px 15px 4px 10px;
    color: #444;
    background-position: 290px -145px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.option {
    color: #2200ff;
    font-size: large;
}
